<%= form_for [card], html: { class: '' } do |f| %>
  <% if card.errors.any? %>
    <div class="alert alert-block">
      <h4>There are <%= pluralize(card.errors.count, "error") %>.</h4>
      <ul>
        <% card.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  <% end %>
    <%= f.label :description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, rows: 8 %>
    </div>
  <% end %>
    <div class="control-group">
    <%= image_tag(card.image.thumb.url) if card.image? %>
    <%= f.label :image, class: 'control-label' %>
    <div class="controls"> 
      <%= f.file_field :image %>
    </div>
    <%= f.label :url, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :url %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit "Save", class: 'btn' %>
    </div>
  </div>
<% end %>