-# %=render partial: 'likes/likeable', locals: { card: card } 
  %.tripIMG image_tag (card.image) 
  %.tripInfo
    %h2= markdown @card.title
    %h5= markdown @card.location
  %.cardBack
    %p= markdown @card.description
    %p= link_to (markdown card.url), [card] 
    %h5= markdown @card.season
    %.category image_tag (card.category)
